
<p-dataTable [value]="cars" selectionMode="single" [(selection)]="selectedCar" (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="10" [responsive]="true">
    <header>Correspondenties</header>
    <p-column field="datum" header="datum" [sortable]="true"></p-column>
    <p-column field="correspondentie" header="correspondentie" [sortable]="true"></p-column>
    <p-column field="behandelaar" header="behandelaar" [sortable]="true"></p-column>
    <p-column field="status" header="status" [sortable]="true"></p-column>
</p-dataTable>

